body {
    min-width: 800px;
    background: #f5f5f5;
    position: relative;
  overflow-x: hidden;
}

table {
    width: 100%;
    float: left;
    .head{
        background: #404040;
        position: absolute;
        width: 100%;
        top:100px;
        color: white
    }
  td{
        text-align: left;
        font-size:12px;
   }
}

.sub {
    font-size: 10px;
}

.header {
   
    width: 100%;
    height: 85px;
    background: #303030;
    margin-bottom: -18px;
    img {
        width: 180px;
        margin-top: 15px;
    }
}

.container {
    top: 80px;
    min-width: 99%;
    margin: 0 auto;
    padding: 2px;
    background: #fff;
    margin-bottom: 10px;

    
    .scroller{
        width: 100%;
        height:350px;
        overflow-x: auto;
    }
}
.table-header{
    width: 98%;
margin-bottom: -1px;
background: #404040;
color: white;
font-weight:bold; 
}
.page-header {
    
    margin-top: 10px;
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    #country {
        text-transform: capitalize;
        color: #262626;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
    }
    #client {
        font-size: 12px;
        font-weight: bold;
        color: #404040;
    }
    #type {
        font-size: 12px;
        font-weight: bold;
        color: #808080;
    }
}

table{
    table-layout: fixed;
    td{
        width:50px;
        &:nth-child(8){
           width: 100px;
        }
    }
}

form{

    margin-bottom: -18px;
    input{
        margin:10px;
    }
}