body {
  min-width: 400px;
  background: #f5f5f5; }

table {
  width: 100%;
  float: left; }
  table td {
    text-align: left; }

.sub {
  font-size: 10px; }

.header {
  width: 100%;
  height: 85px;
  background: #303030;
  margin-bottom: -18px; }
  .header img {
    width: 180px;
    margin-top: 15px; }

.container {
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  background: #fff;
  margin-bottom: 10px; }

.page-header {
  margin-top: 10px;
  padding-bottom: 0;
  margin: 0;
  border-bottom: none; }
  .page-header #country {
    text-transform: capitalize;
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px; }
  .page-header #client {
    font-size: 12px;
    font-weight: bold;
    color: #404040; }
  .page-header #type {
    font-size: 12px;
    font-weight: bold;
    color: #808080; }

/*Panel tabs*/
.panel-tabs {
  position: relative;
  bottom: 30px;
  clear: both;
  border-bottom: 1px solid transparent; }

.panel-tabs > li {
  float: left;
  margin-bottom: -1px; }

.panel-tabs > li > a {
  margin-right: 2px;
  margin-top: 4px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #ffffff; }

.panel-tabs > li > a:hover {
  border-color: transparent;
  color: #ffffff;
  background-color: transparent; }

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.23);
  border-bottom-color: transparent; }

/*# sourceMappingURL=popup.css.map */
